<!DOCTYPE html>
<html>

<head>
    <title>Blog app</title>
   
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
     <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">   
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
              <i class="code icon"></i>  Blog site
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a></div>

        </div>
    </div>